extends base

block content
    main.main
        .login-form
            h2.heading-identify.ma-bt-id Forgot your password?
            p.brand-grey-para.ma-bt-id No problem! Enter your email address and we'll send the password reset link shortly.
            form.form.form--identify 
                .form__group
                    label.form__label(for='email') Email address
                    input#email.form__input(type='email', placeholder='you@example.com', required)
                .form__group
                    button.btn.btn--green#identifyBtn Reset Password 